@import url(https://fonts.googleapis.com/css2?family=Poppins:wght@300;500&family=Roboto+Condensed:wght@700&family=Source+Code+Pro:ital,wght@1,900&display=swap);

$poppins-medium: 'Poppins', sans-serif;

body {
    font-family: $poppins-medium;
}