@use "colors";
@use "fonts";
    * {
        box-sizing: border-box;
    }

    .title {
        margin-left: 30px;
        margin-right: 30px;
        background-color: colors.$highlight;
    }

    .register-form {
        margin-left: 30px;
        display: flex;
        flex-direction: column;
        margin-bottom: 20px;
    }

    input::placeholder {
        color: colors.$primary;
        font-family: fonts.$poppins-medium;
        font-size: 15px;
    }

    .input-field {
        background-color: colors.$input;
        padding: 20px;
        border-radius: 8px;
        border: solid 2px colors.$input;
        display: flex;
        flex-direction: column;
        margin-bottom: 10px;
        width: 90%;
        color: colors.$primary;
    }

    .account {
        display: flex;
        margin-left: auto;
        margin-right: auto;
    }

    .message {
        color: colors.$message;
    }

    .link {
        color: colors.$primary;
        padding-left: 10px;
    }