@use "colors";
@use "fonts";
    * {
        box-sizing: border-box;
    }

    body {
        font-family: fonts.$poppins-medium;
    }

    a {
        text-decoration: none;
    }

    .header__secondary {
        display: flex;
    }

    .header__secondary--index {
        margin-left: 50px;
        margin-right: 50px;
        justify-content: center;
        align-items: center;
    }

    .header__index {
        display: flex;
        justify-content: space-between;
        margin-right: 30px;
    }

    .links {
        display: flex;
        justify-content: space-between;
        padding: 0px 30px;
    }
    .links__icon {
        width: 5%;
    }

    .form__error--hidden {
        display: none;
    }

    .form__error {
        background-color: colors.$danger;
        width: 90%;
        padding: 16px;
        border-radius: 8px;
    }

    .header__firstword {
        margin-left: 30px;
        margin-right: 8px;
        background-color: colors.$highlight;
    }

    .header__secondword--link {
        color: colors.$primary;
    }

    .form {
        margin-left: 30px;
        margin-right: 30px;
        display: flex;
        flex-direction: column;
        margin-bottom: 20px;
    }

    .account {
        display: flex;
        margin-left: auto;
        margin-right: auto;
    }

    .account__text {
        color: colors.$message;
    }

    .account__text--balance {
        margin-left: 50px;
        margin-right: 50px;
        justify-content: center;
        align-items: center;
    }

    .account_link {
        padding-left: 10px;
    }

    .account_link--bold {
        color: colors.$primary;
    }

    @media (min-width: 50em) {
        body {
            background-color: colors.$primary;
        }

        .header__secondary {
            background-color: white;
            margin-left: 50px;
            margin-right: 50px;
            justify-content: center;
            align-items: center;
        }

        .form {
            background-color: white;
            margin-left: 200px;
            margin-right: 200px;
        }

        .form__error {
            margin-left: 50px;
            margin-right: 50px;
            justify-content: center;
            align-items: center;
        }
    }
    