@use "colors";
@use "fonts";
    * {
        box-sizing: border-box;
    }

    body {
        
    }

    .logo {
        width: 20em;
        display: block;
        margin-left: auto;
        margin-right: auto;
        margin-top: 30px;
        margin-bottom: 30px;
    }