@use "colors";
@use "fonts";
    * {
        box-sizing: border-box;
    }

    body {
        font-family: fonts.$poppins-medium;
    }

    a {
        text-decoration: none;
    }

    .header {
        display: flex;
    }

    .hidden {
        display: none;
    }

    .error {
        background-color: colors.$danger;
        width: 90%;
        padding: 16px;
        border-radius: 8px;
    }

    .title__firstword {
        margin-left: 30px;
        margin-right: 8px;
        background-color: colors.$highlight;
    }

    .register-form {
        margin-left: 30px;
        margin-right: 30px;
        display: flex;
        flex-direction: column;
        margin-bottom: 20px;
    }

    .account {
        display: flex;
        margin-left: auto;
        margin-right: auto;
    }

    .message {
        color: colors.$message;
    }

    .link {
        color: colors.$primary;
        padding-left: 10px;
    }

    @media (min-width: 50em) {
        body {
            background-color: colors.$primary;
        }

        .header {
            background-color: white;
            margin-left: 50px;
            margin-right: 50px;
            justify-content: center;
            align-items: center;
        }

        .register-form {
            background-color: white;
            margin-left: 200px;
            margin-right: 200px;
        }

        .error {
            margin-left: 50px;
            margin-right: 50px;
            justify-content: center;
            align-items: center;
        }
    }

