@use "colors";
@use "fonts";
    * {
        box-sizing: border-box;
    }

    .title {
        margin-left: 30px;
        margin-right: 30px;
        background-color: colors.$highlight;
    }

    .register-form {
        margin-left: 30px;
        display: flex;
        flex-direction: column;
        margin-bottom: 20px;
    }



    .account {
        display: flex;
        margin-left: auto;
        margin-right: auto;
    }

    .message {
        color: colors.$message;
    }

    .link {
        color: colors.$primary;
        padding-left: 10px;
    }