@use "../colors";
@use "../fonts";

    .btn {
        display: inline-block;
        background-color: colors.$primary;
        color: white;
        border: 4px solid colors.$primary;
        padding: 10px;
        border-radius: 8px;
        width: 90%;
        font-size: 15px;
        font-family: fonts.$poppins-medium;
        margin-top: 10px;
    }

    @media (min-width: 50em) {
        .btn {
            width: 50%;            
        }
          
          .center {
            display: flex;
            justify-content: center;
            align-items: center;
            height: 100px;
          }
    }