@use "../colors";
@use "../fonts";

    input::placeholder {
        color: colors.$primary;
        font-family: fonts.$poppins-medium;
        font-size: 15px;
    }

    input {
        color: colors.$primary;
        font-family: fonts.$poppins-medium;
        font-size: 15px;
    }

    .input__field {
        background-color: colors.$input;
        padding: 16px;
        border-radius: 8px;
        border: solid 2px colors.$input;
        display: flex;
        flex-direction: column;
        margin-bottom: 10px;
        margin-top: 5px;
        width: 90%;
        color: colors.$primary;
    }

    .input__field__error {
        background-color: white;
        padding: 16px;
        border-radius: 8px;
        border: solid 2px colors.$danger;
        display: flex;
        flex-direction: column;
        margin-bottom: 10px;
        margin-top: 5px;
        width: 90%;
        color: colors.$primary;
    }

    .input__field:focus{
        background-color: white;
        color: black;
        font-family: fonts.$poppins-medium;
        font-size: 15px;
    }

    #password {
        background-image: url("../../assets/oog.svg");
        background-repeat: no-repeat;
        background-position: 96%;
        background-size: 30px;
    }

    @media (min-width: 50em) {
        .input__field {
            width: 50%;
            margin-left: auto;
            margin-right: auto;
        }

        .input__label{
            display: flex;
            justify-content: center;
            height: 30px;
            margin-top: 10px;
        }

        .input__field__error {
            width: 50%;
            margin-left: auto;
            margin-right: auto;
        }
    }