@use "../colors";
@use "../fonts";

    input::placeholder {
        color: colors.$primary;
        font-family: fonts.$poppins-medium;
        font-size: 15px;
    }

    .form__label {
        color: colors.$primary;
        font-family: fonts.$poppins-medium;
        font-size: 15px;
    }

    .form__label--register {
        color: colors.$primary;   
    }

    .form__input {
        background-color: colors.$input;
        padding: 16px;
        border-radius: 8px;
        border: solid 2px colors.$input;
        display: flex;
        flex-direction: column;
        margin-bottom: 10px;
        margin-top: 5px;
        width: 90%;
    }

    .form__input--register {
        color: colors.$primary;
        background-color: colors.$input;
    }

    .input__field__error {
        padding: 16px;
        border-radius: 8px;
        border: solid 2px colors.$danger;
        display: flex;
        flex-direction: column;
        margin-bottom: 10px;
        margin-top: 5px;
        width: 90%;
    }

    .input__field__error--register {
        background-color: white;
        color: colors.$primary;
    }

    .form__input:focus {
        background-color: white;
        color: black;
        font-family: fonts.$poppins-medium;
        font-size: 15px;
    }

    @media (min-width: 50em) {
        .form__label {
            display: flex;
            justify-content: center;
            height: 30px;
            margin-top: 10px;
        }

        .form__input {
            width: 50%;
            margin-left: auto;
            margin-right: auto;
        }

        .input__field__error {
            width: 50%;
            margin-left: auto;
            margin-right: auto;
        }
    }