.header__logo {
    width: 15em;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 30px;
    margin-bottom: 30px;
}

@media (min-width: 50em) {
    .header {
        background-color: white;
        margin-left: 200px;
        margin-right: 200px;
        
    }

    .header__logo {
        padding-top: 10px;
    }
}